@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

footer{
	text-align: right;
	margin-top: 1em;
}

[epub|type~="z3998:diary-entry"] h2{
	text-align: right;
	font-size: 1em;
	font-weight: normal;
	font-variant: normal;
	margin-bottom: 0;
}

[epub|type~="z3998:diary-entry"] > header + p{
	margin-top: 0;
}
