@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

footer{
	text-align: right;
	margin-top: 1em;
}

[epub|type~="z3998:diary-entry"] > header{
	text-align: right;
}

[epub|type~="z3998:diary-entry"] h2{
	display: none;
}

[epub|type~="z3998:diary-entry"] > header + p{
	margin-top: 0;
}

.signature{
	font-variant: small-caps;
}

#chapter-12 p:last-child{
	margin-top: 0.5em;
}
