@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

footer{
	text-align: right;
	margin-top: 1em;
}

[epub|type~="z3998:diary-entry"] + [epub|type~="z3998:diary-entry"]{
	margin-top: 1em;
}

[epub|type~="z3998:diary-entry"] > header{
	text-align: right;
}

[epub|type~="z3998:diary-entry"] > header + p{
	margin-top: 0;
}

[epub|type~="z3998:diary-entry"] ol{
	margin-top: 0;
	margin-bottom: 0;
}

[epub:type~="z3998:signature"]{
	font-variant: small-caps;
}

#entry-12 p:last-child{
	margin-top: 1em;
}
